<% page_title = "Delete " + @page.name %>

<div class="pages delete">
	<h2>Delete Page</h2>

	<%= link_to("<< Back to List", subject_pages_path(@subject.id), :class => 'back-link') %>

	<%= form_for([@subject, @page]) do |f| %>

	<p>Are you sure you want to permanently delete this page?</p>

	<p class="reference-name"><%= @page.name %></p>

	<div class="form-buttons">
		<%= submit_tag("Delete Page") %>
	</div>
	<% end %>
</div>
